<div class="container" >
    @Html.ValidationMessage("CustomError")
<form asp-action="Register">
    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label>NationalID</label>
        <input type="text" name="NationalID" class="form-control" />
    </div>
    <div class="mb-3">
        <label>UserName</label>
        <input type="text" name="username" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="text" name="Email" class="form-control" />
    </div>
     <div class="mb-3">
        <label>Major</label>
        <input type="text" name="Major" class="form-control" />
    </div>
    <div class="mb-3">
        <label>PhoneNumber</label>
        <input type="text" name="PhoneNumber" class="form-control" />
    </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="text"  name="password" class="form-control" />
        </div>
        <input type="submit"  />
</form>
</div>
